source code: https://www.datacamp.com/community/tutorials/web-scraping-using-python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [3]:
years=['2020','2019','2018','2017','2016','2015','2014','2013','2012','2011','2010','2009',
       '2008','2007','2006','2005','2004','2003','2002','2001','2000','1999','1998','1997',
       '1996','1995','1994','1993','1992','1991','1990','1989','1988','1987','1986','1985',
       '1984','1983','1982','1981','1980','1979','1978','1977','1976','1975','1974','1973',
       '1972','1971','1970','1969','1968','1967','1966','1965','1964','1963','1962','1961',
       '1960']

In [4]:
url = "https://www.hockey-reference.com/leagues/NHL_2020_skaters.html"
html = urlopen(url)

In [5]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [6]:
title = soup.title
print(title)

<title>2019-20 NHL Skater Statistics | Hockey-Reference.com</title>

In [7]:
rows = soup.find_all('tr')

In [8]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td class="left" csk="Zykov,Valentin" data-append-csv="zykovva01" data-stat="player"><a href="/players/z/zykovva01.html">Valentin Zykov</a></td>, <td class="right" data-stat="age">24</td>, <td class="left" data-stat="team_id"><a href="/teams/VEG/2020.html">VEG</a></td>, <td class="center" csk="1:Zykov:Valentin" data-stat="pos">LW</td>, <td class="right" data-stat="games_played">15</td>, <td class="right" data-stat="goals">1</td>, <td class="right" data-stat="assists">3</td>, <td class="right" data-stat="points">4</td>, <td class="right" data-stat="plus_minus">-2</td>, <td class="right" data-stat="pen_min">6</td>, <td class="right" data-stat="ps">0.1</td>, <td class="right iz" data-stat="goals_ev">0</td>, <td class="right" data-stat="goals_pp">1</td>, <td class="right iz" data-stat="goals_sh">0</td>, <td class="right iz" data-stat="goals_gw">0</td>, <td class="right" data-stat="assists_ev">3</td>, <td class="right iz" data-stat="assists_pp">0</td>, <td class="right iz" data-stat="assists_sh">0</td>, <td class="right" data-stat="shots">19</td>, <td class="right" data-stat="shot_pct">5.3</td>, <td class="right" data-stat="time_on_ice">183</td>, <td class="right" data-stat="time_on_ice_avg">12:13</td>, <td class="right" data-stat="blocks">3</td>, <td class="right" data-stat="hits">20</td>, <td class="right iz" data-stat="faceoff_wins">0</td>, <td class="right" data-stat="faceoff_losses">1</td>, <td class="center" data-stat="faceoff_percentage">0.0</td>]

bs4.element.ResultSet

In [9]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[Valentin Zykov, 24, VEG, LW, 15, 1, 3, 4, -2, 6, 0.1, 0, 1, 0, 0, 3, 0, 0, 19, 5.3, 183, 12:13, 3, 20, 0, 1, 0.0]

In [10]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[Valentin Zykov, 24, VEG, LW, 15, 1, 3, 4, -2, 6, 0.1, 0, 1, 0, 0, 3, 0, 0, 19, 5.3, 183, 12:13, 3, 20, 0, 1, 0.0]

str

In [11]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1                                                 []
2  [Justin Abdelkader, 32, DET, LW, 49, 0, 3, 3, ...
3  [Pontus Aberg, 26, TOR, LW, 5, 0, 1, 1, 0, 0, ...
4  [Vitaly Abramov, 21, OTT, RW, 2, 1, 0, 1, 0, 2...
5  [Noel Acciari, 28, FLA, C, 66, 20, 7, 27, 2, 2...
6  [Andrew Agozzino, 29, TOT, LW, 22, 1, 2, 3, 3,...
7  [Andrew Agozzino, 29, PIT, LW, 17, 0, 2, 2, 0,...
8  [Andrew Agozzino, 29, ANA, LW, 5, 1, 0, 1, 3, ...
9  [Sebastian Aho, 22, CAR, F, 68, 38, 28, 66, 10...

In [12]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[Justin Abdelkader,32,DET,LW,49,0,3,3,-14,25,...,0,40,0.0,565,11:32,26,103,38,31,55.1]
3,[Pontus Aberg,26,TOR,LW,5,0,1,1,0,0,...,0,4,0.0,44,8:42,1,1,0,0,]
4,[Vitaly Abramov,21,OTT,RW,2,1,0,1,0,2,...,0,3,33.3,12,5:47,0,0,0,0,]
5,[Noel Acciari,28,FLA,C,66,20,7,27,2,21,...,0,108,18.5,1054,15:58,103,121,381,414,47.9]
6,[Andrew Agozzino,29,TOT,LW,22,1,2,3,3,4,...,0,10,10.0,162,7:21,7,25,38,37,50.7]
7,[Andrew Agozzino,29,PIT,LW,17,0,2,2,0,4,...,0,8,0.0,112,6:36,5,19,30,29,50.8]
8,[Andrew Agozzino,29,ANA,LW,5,1,0,1,3,0,...,0,2,50.0,50,9:56,2,6,8,8,50.0]
9,[Sebastian Aho,22,CAR,F,68,38,28,66,10,26,...,1,206,18.4,1321,19:25,20,55,409,480,46.0]

In [13]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,25,...,0,40,0.0,565,11:32,26,103,38,31,55.1]
3,Pontus Aberg,26,TOR,LW,5,0,1,1,0,0,...,0,4,0.0,44,8:42,1,1,0,0,]
4,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,2,...,0,3,33.3,12,5:47,0,0,0,0,]
5,Noel Acciari,28,FLA,C,66,20,7,27,2,21,...,0,108,18.5,1054,15:58,103,121,381,414,47.9]
6,Andrew Agozzino,29,TOT,LW,22,1,2,3,3,4,...,0,10,10.0,162,7:21,7,25,38,37,50.7]
7,Andrew Agozzino,29,PIT,LW,17,0,2,2,0,4,...,0,8,0.0,112,6:36,5,19,30,29,50.8]
8,Andrew Agozzino,29,ANA,LW,5,1,0,1,3,0,...,0,2,50.0,50,9:56,2,6,8,8,50.0]
9,Sebastian Aho,22,CAR,F,68,38,28,66,10,26,...,1,206,18.4,1321,19:25,20,55,409,480,46.0]

In [14]:
df1[26] = df1[26].str.strip(']')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,25,...,0,40,0.0,565,11:32,26,103,38,31,55.1
3,Pontus Aberg,26,TOR,LW,5,0,1,1,0,0,...,0,4,0.0,44,8:42,1,1,0,0,
4,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,2,...,0,3,33.3,12,5:47,0,0,0,0,
5,Noel Acciari,28,FLA,C,66,20,7,27,2,21,...,0,108,18.5,1054,15:58,103,121,381,414,47.9
6,Andrew Agozzino,29,TOT,LW,22,1,2,3,3,4,...,0,10,10.0,162,7:21,7,25,38,37,50.7
7,Andrew Agozzino,29,PIT,LW,17,0,2,2,0,4,...,0,8,0.0,112,6:36,5,19,30,29,50.8
8,Andrew Agozzino,29,ANA,LW,5,1,0,1,3,0,...,0,2,50.0,50,9:56,2,6,8,8,50.0
9,Sebastian Aho,22,CAR,F,68,38,28,66,10,26,...,1,206,18.4,1321,19:25,20,55,409,480,46.0

In [15]:
df1 = df1.iloc[2:]
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
2,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,25,...,0,40,0.0,565,11:32,26,103,38,31,55.1
3,Pontus Aberg,26,TOR,LW,5,0,1,1,0,0,...,0,4,0.0,44,8:42,1,1,0,0,
4,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,2,...,0,3,33.3,12,5:47,0,0,0,0,
5,Noel Acciari,28,FLA,C,66,20,7,27,2,21,...,0,108,18.5,1054,15:58,103,121,381,414,47.9
6,Andrew Agozzino,29,TOT,LW,22,1,2,3,3,4,...,0,10,10.0,162,7:21,7,25,38,37,50.7

In [16]:
df1 = df1.reset_index(drop=True)
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,25,...,0,40,0.0,565,11:32,26,103,38,31,55.1
1,Pontus Aberg,26,TOR,LW,5,0,1,1,0,0,...,0,4,0.0,44,8:42,1,1,0,0,
2,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,2,...,0,3,33.3,12,5:47,0,0,0,0,
3,Noel Acciari,28,FLA,C,66,20,7,27,2,21,...,0,108,18.5,1054,15:58,103,121,381,414,47.9
4,Andrew Agozzino,29,TOT,LW,22,1,2,3,3,4,...,0,10,10.0,162,7:21,7,25,38,37,50.7

In [17]:
df1.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26])

In [18]:
df2 = df1.set_axis(['Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS', 'PlusMinus', 'PIM', 'PS', 'EV', 'PP', 'SH', 'GW', 'EV', 'PP', 'SH', 'S', 'Spct', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FOpct'], axis=1, inplace=False)
df2.reset_index
df2.tail()

,Player,Age,Tm,Pos,GP,G,A,PTS,PlusMinus,PIM,...,SH,S,Spct,TOI,ATOI,BLK,HIT,FOW,FOL,FOpct
1055,Mats Zuccarello,32,MIN,LW,65,15,22,37,-9,18,...,0,96,15.6,1036,15:56,36,13,9,5,64.3
1056,Jason Zucker,28,TOT,LW,60,20,21,41,-4,21,...,0,111,18.0,980,16:20,23,53,12,29,29.3
1057,Jason Zucker,28,MIN,LW,45,14,15,29,-3,19,...,0,75,18.7,715,15:54,20,35,12,28,30.0
1058,Jason Zucker,28,PIT,LW,15,6,6,12,-1,2,...,0,36,16.7,265,17:40,3,18,0,1,0.0
1059,Valentin Zykov,24,VEG,LW,15,1,3,4,-2,6,...,0,19,5.3,183,12:13,3,20,0,1,0.0

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 27 columns):
Player       1060 non-null object
Age          1016 non-null object
Tm           1016 non-null object
Pos          1016 non-null object
GP           1016 non-null object
G            1016 non-null object
A            1016 non-null object
PTS          1016 non-null object
PlusMinus    1016 non-null object
PIM          1016 non-null object
PS           1016 non-null object
EV           1016 non-null object
PP           1016 non-null object
SH           1016 non-null object
GW           1016 non-null object
EV           1016 non-null object
PP           1016 non-null object
SH           1016 non-null object
S            1016 non-null object
Spct         1016 non-null object
TOI          1016 non-null object
ATOI         1016 non-null object
BLK          1016 non-null object
HIT          1016 non-null object
FOW          1016 non-null object
FOL          1016 non-null object
FOpct        1016 non-null object
dtypes: object(27)
memory usage: 223.7+ KB

In [20]:
df2.drop(df2[df2['Player'] == ']'].index, inplace = True)

In [21]:
df2.reset_index(drop=True)

,Player,Age,Tm,Pos,GP,G,A,PTS,PlusMinus,PIM,...,SH,S,Spct,TOI,ATOI,BLK,HIT,FOW,FOL,FOpct
0,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,25,...,0,40,0.0,565,11:32,26,103,38,31,55.1
1,Pontus Aberg,26,TOR,LW,5,0,1,1,0,0,...,0,4,0.0,44,8:42,1,1,0,0,
2,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,2,...,0,3,33.3,12,5:47,0,0,0,0,
3,Noel Acciari,28,FLA,C,66,20,7,27,2,21,...,0,108,18.5,1054,15:58,103,121,381,414,47.9
4,Andrew Agozzino,29,TOT,LW,22,1,2,3,3,4,...,0,10,10.0,162,7:21,7,25,38,37,50.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,Mats Zuccarello,32,MIN,LW,65,15,22,37,-9,18,...,0,96,15.6,1036,15:56,36,13,9,5,64.3
1012,Jason Zucker,28,TOT,LW,60,20,21,41,-4,21,...,0,111,18.0,980,16:20,23,53,12,29,29.3
1013,Jason Zucker,28,MIN,LW,45,14,15,29,-3,19,...,0,75,18.7,715,15:54,20,35,12,28,30.0
1014,Jason Zucker,28,PIT,LW,15,6,6,12,-1,2,...,0,36,16.7,265,17:40,3,18,0,1,0.0
1015,Valentin Zykov,24,VEG,LW,15,1,3,4,-2,6,...,0,19,5.3,183,12:13,3,20,0,1,0.0

In [22]:
df2['Season']='2019-2020'

In [23]:
df2.head()

,Player,Age,Tm,Pos,GP,G,A,PTS,PlusMinus,PIM,...,S,Spct,TOI,ATOI,BLK,HIT,FOW,FOL,FOpct,Season
0,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,25,...,40,0.0,565,11:32,26,103,38,31,55.1,2019-2020
1,Pontus Aberg,26,TOR,LW,5,0,1,1,0,0,...,4,0.0,44,8:42,1,1,0,0,,2019-2020
2,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,2,...,3,33.3,12,5:47,0,0,0,0,,2019-2020
3,Noel Acciari,28,FLA,C,66,20,7,27,2,21,...,108,18.5,1054,15:58,103,121,381,414,47.9,2019-2020
4,Andrew Agozzino,29,TOT,LW,22,1,2,3,3,4,...,10,10.0,162,7:21,7,25,38,37,50.7,2019-2020

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1016 entries, 0 to 1059
Data columns (total 28 columns):
Player       1016 non-null object
Age          1016 non-null object
Tm           1016 non-null object
Pos          1016 non-null object
GP           1016 non-null object
G            1016 non-null object
A            1016 non-null object
PTS          1016 non-null object
PlusMinus    1016 non-null object
PIM          1016 non-null object
PS           1016 non-null object
EV           1016 non-null object
PP           1016 non-null object
SH           1016 non-null object
GW           1016 non-null object
EV           1016 non-null object
PP           1016 non-null object
SH           1016 non-null object
S            1016 non-null object
Spct         1016 non-null object
TOI          1016 non-null object
ATOI         1016 non-null object
BLK          1016 non-null object
HIT          1016 non-null object
FOW          1016 non-null object
FOL          1016 non-null object
FOpct        1016 non-null object
Season       1016 non-null object
dtypes: object(28)
memory usage: 230.2+ KB

In [25]:
df2.to_csv('2019_2020.csv', index=0)